.item {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;  /*NÃO DEIXA TER SCROOL NA DELA*/
  background-color: var(--background); /*ESSA COR ESÁ NO ACTIVE NO HTML*/
}

.item.active {
  display: block;
  
}

.item .title {
  font-size: 12rem;
  color: white;
  font-family: "DM Serif Text", serif;
  text-align: center;

  position: absolute;     /*ESSE PEQUENO TRECHO DE CÓDIGO SERVE PARA CENTRALIZAR QUALQUER COISA*/
  left: 50%;            /*ESSE PEQUENO TRECHO DE CÓDIGO SERVE PARA CENTRALIZAR QUALQUER COISA*/
  top: 50%;                /*ESSE PEQUENO TRECHO DE CÓDIGO SERVE PARA CENTRALIZAR QUALQUER COISA*/
  transform: translate(-50%, -50%); /*ESSE PEQUENO TRECHO DE CÓDIGO SERVE PARA CENTRALIZAR QUALQUER COISA*/
}

.item .fruit {
  width: 90%;
  position: absolute;
  top: 0;
  z-index: 3;
}

.item .refri {
  z-index: 2;
  width: 600px;
  position: absolute;     /*ESSE PEQUENO TRECHO DE CÓDIGO SERVE PARA CENTRALIZAR QUALQUER COISA*/
  left: 50%;            /*ESSE PEQUENO TRECHO DE CÓDIGO SERVE PARA CENTRALIZAR QUALQUER COISA*/
  top: 50%;                /*ESSE PEQUENO TRECHO DE CÓDIGO SERVE PARA CENTRALIZAR QUALQUER COISA*/
  transform: translate(-50%, -50%); 
}

#prev, #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #eee9;
  border: 1px solid #eee9;
  border-radius: 50%;
  font-size: x-large;
  font-family: monospace;
  cursor: pointer;
  z-index: 4;
}

#prev {
  left: 30px;
}

#next {
  right: 30px;
}

@keyframes toActive {
  from {
    top: 100%;
    opacity: 0;
  }
}

.item.active img.fruit {
  animation: toActive 0.5s ease-in-out 1;
}

.item.active .title {
  animation: toActive 0.8s ease-in-out 1;
}